  .wrap{
    background-color:	#AAAAAA;
  }
  .Header{
    background-color:#FFDD55;
  }
  .Body{
    background-color:#FFDDAA;
    height: 1000px;
  }
  .container{
     width: 100%;
     margin: 2px;
    }
  .picture{

    position: relative;
    width: 22%;
    height: 60%;
    float:left;
    margin: 10px;
    
  }img{
        display: block;
        width: 100%;
        height: 250px;
      }
      .info{

        opacity: 0;
        position: absolute;
        box-sizing: border-box;
        background-color: rgba(0,0,0,.3);
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 40px;
      }
      .info p{
        color: #fff;
      }
      .info:hover{
        opacity: 1;
      }
    
    
  
    .article{
      position: relative;
      width: 22%;
      height: 50%;
      float:left;
      margin: 10px;
    }
    img{
      width: 100%;
      height: 300px;
    }

    .article1{
      display: none;
    }
    .article1.open{
      position: relative;
      width: 100%;
      display: block;
    }
    img{
      width: 100%;
      height: 300px;
    }

    .article2{
      display: none;
    }
    .article2.open{
      position: relative;
      width: 100%;
      display: block;
    }
    img{
      width: 100%;
      height: 300px;
    }

    .article3{
      display: none;
    }
    .article3.open{
      position: relative;
      width: 100%;
      display: block;
    }
    img{
      width: 100%;
      height: 300px;
    }

    .article4{
      display: none;
    }
    .article4.open{
      position: relative;
      width: 100%;
      display: block;
    }
    img{
      width: 100%;
      height: 300px;
    }
  .footer{
    background-color:#FFAA33
  }
    